<!DOCTYPE html>
<html>

<head>
    <title>Artists</title>
</head>

<body>
    <h1>Artists</h1>
    {{range .}}
    <div>
        <h2>{{.Name}}</h2>
        <img src="{{.Image}}" alt="{{.Name}} Image" style="max-width: 200px;">
        <p>ID: {{.ID}}</p>
        <p>Members:</p>
        <ul>
            {{range .Members}}
            <li>{{.}}</li>
            {{end}}
        </ul>
        <p>Year: {{.Year}}</p>
        <p>First Album: {{.FirstAlbum}}</p>
        <p>Locations:</p>
        <ul>
            {{range .Locations}}
            <li>{{.}}</li>
            {{end}}
        </ul>
        <p>Concert Dates:</p>
        <ul>
            {{range .ConcertDates}}
            <li>{{.}}</li>
            {{end}}
        </ul>
        <p>Relations:</p>
        <ul>
            {{range .Relations}}
            <li>{{.}}</li>
            {{end}}
        </ul>
    </div>
    {{end}}
</body>

</html>